@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './utils/nprogress.css';

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent theme('colors.gray.300');
}

.form-input.v-select .vs__dropdown-toggle {
    padding: 0;
    border: none;
    border-radius: 0;
}

.form-input.v-select .vs__selected,
.form-input.v-select .vsl__combobox {
    padding: 0;
    margin: 0;
    color: #000;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
    border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

.table__cell {
    @apply p-4 text-base text-gray-700;
}

.table__row {
    @apply border-b border-gray-200 text-base text-gray-700;
}

.table__column-group {
    @apply border-gray-200;
}

thead .table__column-group {
    @apply border-b;
}

tfoot .table__column-group {
    @apply border-t;
}

.table__column {
    @apply p-4 text-left text-xs text-gray-500 uppercase tracking-wider font-semibold;
}
