.form-input.ss-main {
    padding: 0;
}

.form-input.ss-main .ss-single-selected,
.form-input.ss-main .ss-multi-selected {
    @apply flex items-center justify-between;
    height: 42px;
    border: 0;
}

.form-input.ss-main .ss-content.ss-open {
    @apply border-gray-200 shadow;
}

.form-input.ss-main .ss-content .ss-search input {
    @apply bg-gray-300 border-0 p-4;
    outline: none;
}

.form-input.ss-main .ss-content .ss-search input:focus {
    outline: none;
}

.form-input.ss-main .ss-multi-selected .ss-add {
    @apply m-0 px-4;
}

.form-checkbox {
    @apply w-4 h-4 mr-4;
}

.form-radio {
    @apply mr-4;
}
