.rich-editor__content h3 {
    @apply text-lg text-gray-700 font-semibold;
}

.rich-editor__content h2 {
    @apply text-xl text-gray-800 font-bold;
}

.rich-editor__content h1 {
    @apply text-2xl text-gray-900 font-bold;
}

.rich-editor__content ul {
    @apply p-8;
    list-style: disc;
}

.rich-editor__content ol {
    @apply p-8;
    list-style: decimal;
}

.rich-editor__content blockquote {
    @apply p-4 bg-gray-200 italic text-base text-gray-900 rounded-lg;
}

.rich-editor__content code {
    @apply p-1 bg-gray-200 text-gray-800 text-base font-mono rounded;
}

.rich-editor__content pre {
    @apply p-4 bg-gray-900 text-gray-100 text-base font-mono rounded-lg;
}

.rich-editor__content pre code {
    @apply bg-transparent text-gray-100 text-base font-mono;
}

.rich-editor__content a {
    @apply underline text-blue-500;
}

.rich-editor__content table {
    @apply table-auto border border-gray-500 w-full;
}

.rich-editor__content td {
    @apply p-2 border border-gray-500 text-base text-gray-700;
}

.rich-editor__content tr {
    @apply border border-gray-500 text-base text-gray-700;
}

.rich-editor__content .iframe__embed {
    @apply w-full bg-gray-200 rounded;
    height: 15rem;
    border: 0;
}

.rich-editor__content .iframe__input {
    @apply bg-white border-2 border-gray-400 rounded;
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.3rem 0.5rem;
}
