.title-bar-wrapper {
    @apply sticky top-0 py-8 z-30 transition-all duration-300 overflow-hidden;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.title-bar {
    @apply flex items-center justify-between px-8 py-8 z-30 transition-all duration-300;
    height: 72px;
    top: 80px;
    transform: translateY(0);
}

.title-bar__title {
    @apply text-3xl text-gray-900 font-extrabold;
}

.title-bar__subtitle {
    @apply text-xl text-gray-600 font-semibold;
}

.title-bar-wrapper.is-floating {
    @apply pb-1;
}

.title-bar-wrapper.is-floating .title-bar {
    @apply py-4 mb-12 bg-gray-100 border border-gray-300 ;
    transform: translateY(48px);
}

.title-bar-wrapper.is-floating .title-bar__title {
    @apply text-xl;
}

.title-bar-wrapper.is-floating .title-bar__subtitle {
    @apply text-sm;
}
